[submodule "plugins/polkabot-plugin-blocthday"]
	path = plugins/polkabot-plugin-blocthday
	url = git@gitlab.com:Polkabot/polkabot-plugin-blocthday.git
[submodule "plugins/polkabot-plugin-blockstats"]
	path = plugins/polkabot-plugin-blockstats
	url = git@gitlab.com:Polkabot/polkabot-plugin-blockstats.git
[submodule "plugins/polkabot-plugin-operator"]
	path = plugins/polkabot-plugin-operator
	url = https://gitlab.com/Polkabot/polkabot-plugin-operator.git
[submodule "plugins/polkabot-plugin-stallwatcher"]
	path = plugins/polkabot-plugin-stallwatcher
	url = git@gitlab.com:Polkabot/polkabot-plugin-stallwatcher.git
[submodule "plugins/polkabot-plugin-reporter"]
	path = plugins/polkabot-plugin-reporter
	url = git@gitlab.com:Polkabot/polkabot-plugin-reporter.git
